/* Icons
----------------------------------*/

/* states and images */
.tiles32 .ui-icon {
    width: 32px;
    height: 32px;
}
.tiles32 .ui-icon,
.tiles32 .ui-widget-content .ui-icon {
    background-image: url("tiles32.png");
}

/* positioning */
.tiles32 .ui-icon-1-1 { background-position:     0px 0px; }
.tiles32 .ui-icon-1-2 { background-position:   -32px 0px; }
.tiles32 .ui-icon-1-3 { background-position:   -64px 0px; }
.tiles32 .ui-icon-1-4 { background-position:   -96px 0px; }
.tiles32 .ui-icon-1-5 { background-position:  -128px 0px; }
.tiles32 .ui-icon-1-6 { background-position:  -160px 0px; }
.tiles32 .ui-icon-1-7 { background-position:  -192px 0px; }
.tiles32 .ui-icon-1-8 { background-position:  -224px 0px; }
.tiles32 .ui-icon-1-9 { background-position:  -256px 0px; }
.tiles32 .ui-icon-1-10 { background-position:  -288px 0px; }
.tiles32 .ui-icon-1-11 { background-position:  -320px 0px; }
.tiles32 .ui-icon-1-12 { background-position:  -352px 0px; }
.tiles32 .ui-icon-1-13 { background-position:  -384px 0px; }
.tiles32 .ui-icon-1-14 { background-position:  -416px 0px; }
.tiles32 .ui-icon-1-15 { background-position:  -448px 0px; }
.tiles32 .ui-icon-1-16 { background-position:  -480px 0px; }
.tiles32 .ui-icon-1-17 { background-position:  -512px 0px; }
.tiles32 .ui-icon-1-18 { background-position:  -544px 0px; }
.tiles32 .ui-icon-1-19 { background-position:  -576px 0px; }
.tiles32 .ui-icon-1-20 { background-position:  -608px 0px; }
.tiles32 .ui-icon-1-21 { background-position:  -640px 0px; }
.tiles32 .ui-icon-1-22 { background-position:  -672px 0px; }
.tiles32 .ui-icon-1-23 { background-position:  -704px 0px; }
.tiles32 .ui-icon-1-24 { background-position:  -736px 0px; }
.tiles32 .ui-icon-1-25 { background-position:  -768px 0px; }
.tiles32 .ui-icon-1-26 { background-position:  -800px 0px; }
.tiles32 .ui-icon-1-27 { background-position:  -832px 0px; }
.tiles32 .ui-icon-1-28 { background-position:  -864px 0px; }
.tiles32 .ui-icon-1-29 { background-position:  -896px 0px; }
.tiles32 .ui-icon-1-30 { background-position:  -928px 0px; }
.tiles32 .ui-icon-1-31 { background-position:  -960px 0px; }
.tiles32 .ui-icon-1-32 { background-position:  -992px 0px; }
.tiles32 .ui-icon-1-33 { background-position: -1024px 0px; }
.tiles32 .ui-icon-1-34 { background-position: -1056px 0px; }
.tiles32 .ui-icon-1-35 { background-position: -1088px 0px; }
.tiles32 .ui-icon-1-36 { background-position: -1120px 0px; }
.tiles32 .ui-icon-1-37 { background-position: -1152px 0px; }
.tiles32 .ui-icon-1-38 { background-position: -1184px 0px; }
.tiles32 .ui-icon-1-39 { background-position: -1216px 0px; }
.tiles32 .ui-icon-1-40 { background-position: -1248px 0px; }

.tiles32 .ui-icon-2-1 { background-position:     0px -32px; }
.tiles32 .ui-icon-2-2 { background-position:   -32px -32px; }
.tiles32 .ui-icon-2-3 { background-position:   -64px -32px; }
.tiles32 .ui-icon-2-4 { background-position:   -96px -32px; }
.tiles32 .ui-icon-2-5 { background-position:  -128px -32px; }
.tiles32 .ui-icon-2-6 { background-position:  -160px -32px; }
.tiles32 .ui-icon-2-7 { background-position:  -192px -32px; }
.tiles32 .ui-icon-2-8 { background-position:  -224px -32px; }
.tiles32 .ui-icon-2-9 { background-position:  -256px -32px; }
.tiles32 .ui-icon-2-10 { background-position:  -288px -32px; }
.tiles32 .ui-icon-2-11 { background-position:  -320px -32px; }
.tiles32 .ui-icon-2-12 { background-position:  -352px -32px; }
.tiles32 .ui-icon-2-13 { background-position:  -384px -32px; }
.tiles32 .ui-icon-2-14 { background-position:  -416px -32px; }
.tiles32 .ui-icon-2-15 { background-position:  -448px -32px; }
.tiles32 .ui-icon-2-16 { background-position:  -480px -32px; }
.tiles32 .ui-icon-2-17 { background-position:  -512px -32px; }
.tiles32 .ui-icon-2-18 { background-position:  -544px -32px; }
.tiles32 .ui-icon-2-19 { background-position:  -576px -32px; }
.tiles32 .ui-icon-2-20 { background-position:  -608px -32px; }
.tiles32 .ui-icon-2-21 { background-position:  -640px -32px; }
.tiles32 .ui-icon-2-22 { background-position:  -672px -32px; }
.tiles32 .ui-icon-2-23 { background-position:  -704px -32px; }
.tiles32 .ui-icon-2-24 { background-position:  -736px -32px; }
.tiles32 .ui-icon-2-25 { background-position:  -768px -32px; }
.tiles32 .ui-icon-2-26 { background-position:  -800px -32px; }
.tiles32 .ui-icon-2-27 { background-position:  -832px -32px; }
.tiles32 .ui-icon-2-28 { background-position:  -864px -32px; }
.tiles32 .ui-icon-2-29 { background-position:  -896px -32px; }
.tiles32 .ui-icon-2-30 { background-position:  -928px -32px; }
.tiles32 .ui-icon-2-31 { background-position:  -960px -32px; }
.tiles32 .ui-icon-2-32 { background-position:  -992px -32px; }
.tiles32 .ui-icon-2-33 { background-position: -1024px -32px; }
.tiles32 .ui-icon-2-34 { background-position: -1056px -32px; }
.tiles32 .ui-icon-2-35 { background-position: -1088px -32px; }
.tiles32 .ui-icon-2-36 { background-position: -1120px -32px; }
.tiles32 .ui-icon-2-37 { background-position: -1152px -32px; }
.tiles32 .ui-icon-2-38 { background-position: -1184px -32px; }
.tiles32 .ui-icon-2-39 { background-position: -1216px -32px; }
.tiles32 .ui-icon-2-40 { background-position: -1248px -32px; }

.tiles32 .ui-icon-3-1 { background-position:     0px -64px; }
.tiles32 .ui-icon-3-2 { background-position:   -32px -64px; }
.tiles32 .ui-icon-3-3 { background-position:   -64px -64px; }
.tiles32 .ui-icon-3-4 { background-position:   -96px -64px; }
.tiles32 .ui-icon-3-5 { background-position:  -128px -64px; }
.tiles32 .ui-icon-3-6 { background-position:  -160px -64px; }
.tiles32 .ui-icon-3-7 { background-position:  -192px -64px; }
.tiles32 .ui-icon-3-8 { background-position:  -224px -64px; }
.tiles32 .ui-icon-3-9 { background-position:  -256px -64px; }
.tiles32 .ui-icon-3-10 { background-position:  -288px -64px; }
.tiles32 .ui-icon-3-11 { background-position:  -320px -64px; }
.tiles32 .ui-icon-3-12 { background-position:  -352px -64px; }
.tiles32 .ui-icon-3-13 { background-position:  -384px -64px; }
.tiles32 .ui-icon-3-14 { background-position:  -416px -64px; }
.tiles32 .ui-icon-3-15 { background-position:  -448px -64px; }
.tiles32 .ui-icon-3-16 { background-position:  -480px -64px; }
.tiles32 .ui-icon-3-17 { background-position:  -512px -64px; }
.tiles32 .ui-icon-3-18 { background-position:  -544px -64px; }
.tiles32 .ui-icon-3-19 { background-position:  -576px -64px; }
.tiles32 .ui-icon-3-20 { background-position:  -608px -64px; }
.tiles32 .ui-icon-3-21 { background-position:  -640px -64px; }
.tiles32 .ui-icon-3-22 { background-position:  -672px -64px; }
.tiles32 .ui-icon-3-23 { background-position:  -704px -64px; }
.tiles32 .ui-icon-3-24 { background-position:  -736px -64px; }
.tiles32 .ui-icon-3-25 { background-position:  -768px -64px; }
.tiles32 .ui-icon-3-26 { background-position:  -800px -64px; }
.tiles32 .ui-icon-3-27 { background-position:  -832px -64px; }
.tiles32 .ui-icon-3-28 { background-position:  -864px -64px; }
.tiles32 .ui-icon-3-29 { background-position:  -896px -64px; }
.tiles32 .ui-icon-3-30 { background-position:  -928px -64px; }
.tiles32 .ui-icon-3-31 { background-position:  -960px -64px; }
.tiles32 .ui-icon-3-32 { background-position:  -992px -64px; }
.tiles32 .ui-icon-3-33 { background-position: -1024px -64px; }
.tiles32 .ui-icon-3-34 { background-position: -1056px -64px; }
.tiles32 .ui-icon-3-35 { background-position: -1088px -64px; }
.tiles32 .ui-icon-3-36 { background-position: -1120px -64px; }
.tiles32 .ui-icon-3-37 { background-position: -1152px -64px; }
.tiles32 .ui-icon-3-38 { background-position: -1184px -64px; }
.tiles32 .ui-icon-3-39 { background-position: -1216px -64px; }
.tiles32 .ui-icon-3-40 { background-position: -1248px -64px; }

.tiles32 .ui-icon-3-1 { background-position:     0px -64px; }
.tiles32 .ui-icon-3-2 { background-position:   -32px -64px; }
.tiles32 .ui-icon-3-3 { background-position:   -64px -64px; }
.tiles32 .ui-icon-3-4 { background-position:   -96px -64px; }
.tiles32 .ui-icon-3-5 { background-position:  -128px -64px; }
.tiles32 .ui-icon-3-6 { background-position:  -160px -64px; }
.tiles32 .ui-icon-3-7 { background-position:  -192px -64px; }
.tiles32 .ui-icon-3-8 { background-position:  -224px -64px; }
.tiles32 .ui-icon-3-9 { background-position:  -256px -64px; }
.tiles32 .ui-icon-3-10 { background-position:  -288px -64px; }
.tiles32 .ui-icon-3-11 { background-position:  -320px -64px; }
.tiles32 .ui-icon-3-12 { background-position:  -352px -64px; }
.tiles32 .ui-icon-3-13 { background-position:  -384px -64px; }
.tiles32 .ui-icon-3-14 { background-position:  -416px -64px; }
.tiles32 .ui-icon-3-15 { background-position:  -448px -64px; }
.tiles32 .ui-icon-3-16 { background-position:  -480px -64px; }
.tiles32 .ui-icon-3-17 { background-position:  -512px -64px; }
.tiles32 .ui-icon-3-18 { background-position:  -544px -64px; }
.tiles32 .ui-icon-3-19 { background-position:  -576px -64px; }
.tiles32 .ui-icon-3-20 { background-position:  -608px -64px; }
.tiles32 .ui-icon-3-21 { background-position:  -640px -64px; }
.tiles32 .ui-icon-3-22 { background-position:  -672px -64px; }
.tiles32 .ui-icon-3-23 { background-position:  -704px -64px; }
.tiles32 .ui-icon-3-24 { background-position:  -736px -64px; }
.tiles32 .ui-icon-3-25 { background-position:  -768px -64px; }
.tiles32 .ui-icon-3-26 { background-position:  -800px -64px; }
.tiles32 .ui-icon-3-27 { background-position:  -832px -64px; }
.tiles32 .ui-icon-3-28 { background-position:  -864px -64px; }
.tiles32 .ui-icon-3-29 { background-position:  -896px -64px; }
.tiles32 .ui-icon-3-30 { background-position:  -928px -64px; }
.tiles32 .ui-icon-3-31 { background-position:  -960px -64px; }
.tiles32 .ui-icon-3-32 { background-position:  -992px -64px; }
.tiles32 .ui-icon-3-33 { background-position: -1024px -64px; }
.tiles32 .ui-icon-3-34 { background-position: -1056px -64px; }
.tiles32 .ui-icon-3-35 { background-position: -1088px -64px; }
.tiles32 .ui-icon-3-36 { background-position: -1120px -64px; }
.tiles32 .ui-icon-3-37 { background-position: -1152px -64px; }
.tiles32 .ui-icon-3-38 { background-position: -1184px -64px; }
.tiles32 .ui-icon-3-39 { background-position: -1216px -64px; }
.tiles32 .ui-icon-3-40 { background-position: -1248px -64px; }

.tiles32 .ui-icon-4-1 { background-position:     0px -96px; }
.tiles32 .ui-icon-4-2 { background-position:   -32px -96px; }
.tiles32 .ui-icon-4-3 { background-position:   -64px -96px; }
.tiles32 .ui-icon-4-4 { background-position:   -96px -96px; }
.tiles32 .ui-icon-4-5 { background-position:  -128px -96px; }
.tiles32 .ui-icon-4-6 { background-position:  -160px -96px; }
.tiles32 .ui-icon-4-7 { background-position:  -192px -96px; }
.tiles32 .ui-icon-4-8 { background-position:  -224px -96px; }
.tiles32 .ui-icon-4-9 { background-position:  -256px -96px; }
.tiles32 .ui-icon-4-10 { background-position:  -288px -96px; }
.tiles32 .ui-icon-4-11 { background-position:  -320px -96px; }
.tiles32 .ui-icon-4-12 { background-position:  -352px -96px; }
.tiles32 .ui-icon-4-13 { background-position:  -384px -96px; }
.tiles32 .ui-icon-4-14 { background-position:  -416px -96px; }
.tiles32 .ui-icon-4-15 { background-position:  -448px -96px; }
.tiles32 .ui-icon-4-16 { background-position:  -480px -96px; }
.tiles32 .ui-icon-4-17 { background-position:  -512px -96px; }
.tiles32 .ui-icon-4-18 { background-position:  -544px -96px; }
.tiles32 .ui-icon-4-19 { background-position:  -576px -96px; }
.tiles32 .ui-icon-4-20 { background-position:  -608px -96px; }
.tiles32 .ui-icon-4-21 { background-position:  -640px -96px; }
.tiles32 .ui-icon-4-22 { background-position:  -672px -96px; }
.tiles32 .ui-icon-4-23 { background-position:  -704px -96px; }
.tiles32 .ui-icon-4-24 { background-position:  -736px -96px; }
.tiles32 .ui-icon-4-25 { background-position:  -768px -96px; }
.tiles32 .ui-icon-4-26 { background-position:  -800px -96px; }
.tiles32 .ui-icon-4-27 { background-position:  -832px -96px; }
.tiles32 .ui-icon-4-28 { background-position:  -864px -96px; }
.tiles32 .ui-icon-4-29 { background-position:  -896px -96px; }
.tiles32 .ui-icon-4-30 { background-position:  -928px -96px; }
.tiles32 .ui-icon-4-31 { background-position:  -960px -96px; }
.tiles32 .ui-icon-4-32 { background-position:  -992px -96px; }
.tiles32 .ui-icon-4-33 { background-position: -1024px -96px; }
.tiles32 .ui-icon-4-34 { background-position: -1056px -96px; }
.tiles32 .ui-icon-4-35 { background-position: -1088px -96px; }
.tiles32 .ui-icon-4-36 { background-position: -1120px -96px; }
.tiles32 .ui-icon-4-37 { background-position: -1152px -96px; }
.tiles32 .ui-icon-4-38 { background-position: -1184px -96px; }
.tiles32 .ui-icon-4-39 { background-position: -1216px -96px; }
.tiles32 .ui-icon-4-40 { background-position: -1248px -96px; }

.tiles32 .ui-icon-5-1 { background-position:     0px -128px; }
.tiles32 .ui-icon-5-2 { background-position:   -32px -128px; }
.tiles32 .ui-icon-5-3 { background-position:   -64px -128px; }
.tiles32 .ui-icon-5-4 { background-position:   -96px -128px; }
.tiles32 .ui-icon-5-5 { background-position:  -128px -128px; }
.tiles32 .ui-icon-5-6 { background-position:  -160px -128px; }
.tiles32 .ui-icon-5-7 { background-position:  -192px -128px; }
.tiles32 .ui-icon-5-8 { background-position:  -224px -128px; }
.tiles32 .ui-icon-5-9 { background-position:  -256px -128px; }
.tiles32 .ui-icon-5-10 { background-position:  -288px -128px; }
.tiles32 .ui-icon-5-11 { background-position:  -320px -128px; }
.tiles32 .ui-icon-5-12 { background-position:  -352px -128px; }
.tiles32 .ui-icon-5-13 { background-position:  -384px -128px; }
.tiles32 .ui-icon-5-14 { background-position:  -416px -128px; }
.tiles32 .ui-icon-5-15 { background-position:  -448px -128px; }
.tiles32 .ui-icon-5-16 { background-position:  -480px -128px; }
.tiles32 .ui-icon-5-17 { background-position:  -512px -128px; }
.tiles32 .ui-icon-5-18 { background-position:  -544px -128px; }
.tiles32 .ui-icon-5-19 { background-position:  -576px -128px; }
.tiles32 .ui-icon-5-20 { background-position:  -608px -128px; }
.tiles32 .ui-icon-5-21 { background-position:  -640px -128px; }
.tiles32 .ui-icon-5-22 { background-position:  -672px -128px; }
.tiles32 .ui-icon-5-23 { background-position:  -704px -128px; }
.tiles32 .ui-icon-5-24 { background-position:  -736px -128px; }
.tiles32 .ui-icon-5-25 { background-position:  -768px -128px; }
.tiles32 .ui-icon-5-26 { background-position:  -800px -128px; }
.tiles32 .ui-icon-5-27 { background-position:  -832px -128px; }
.tiles32 .ui-icon-5-28 { background-position:  -864px -128px; }
.tiles32 .ui-icon-5-29 { background-position:  -896px -128px; }
.tiles32 .ui-icon-5-30 { background-position:  -928px -128px; }
.tiles32 .ui-icon-5-31 { background-position:  -960px -128px; }
.tiles32 .ui-icon-5-32 { background-position:  -992px -128px; }
.tiles32 .ui-icon-5-33 { background-position: -1024px -128px; }
.tiles32 .ui-icon-5-34 { background-position: -1056px -128px; }
.tiles32 .ui-icon-5-35 { background-position: -1088px -128px; }
.tiles32 .ui-icon-5-36 { background-position: -1120px -128px; }
.tiles32 .ui-icon-5-37 { background-position: -1152px -128px; }
.tiles32 .ui-icon-5-38 { background-position: -1184px -128px; }
.tiles32 .ui-icon-5-39 { background-position: -1216px -128px; }
.tiles32 .ui-icon-5-40 { background-position: -1248px -128px; }

.tiles32 .ui-icon-6-1 { background-position:     0px -160px; }
.tiles32 .ui-icon-6-2 { background-position:   -32px -160px; }
.tiles32 .ui-icon-6-3 { background-position:   -64px -160px; }
.tiles32 .ui-icon-6-4 { background-position:   -96px -160px; }
.tiles32 .ui-icon-6-5 { background-position:  -128px -160px; }
.tiles32 .ui-icon-6-6 { background-position:  -160px -160px; }
.tiles32 .ui-icon-6-7 { background-position:  -192px -160px; }
.tiles32 .ui-icon-6-8 { background-position:  -224px -160px; }
.tiles32 .ui-icon-6-9 { background-position:  -256px -160px; }
.tiles32 .ui-icon-6-10 { background-position:  -288px -160px; }
.tiles32 .ui-icon-6-11 { background-position:  -320px -160px; }
.tiles32 .ui-icon-6-12 { background-position:  -352px -160px; }
.tiles32 .ui-icon-6-13 { background-position:  -384px -160px; }
.tiles32 .ui-icon-6-14 { background-position:  -416px -160px; }
.tiles32 .ui-icon-6-15 { background-position:  -448px -160px; }
.tiles32 .ui-icon-6-16 { background-position:  -480px -160px; }
.tiles32 .ui-icon-6-17 { background-position:  -512px -160px; }
.tiles32 .ui-icon-6-18 { background-position:  -544px -160px; }
.tiles32 .ui-icon-6-19 { background-position:  -576px -160px; }
.tiles32 .ui-icon-6-20 { background-position:  -608px -160px; }
.tiles32 .ui-icon-6-21 { background-position:  -640px -160px; }
.tiles32 .ui-icon-6-22 { background-position:  -672px -160px; }
.tiles32 .ui-icon-6-23 { background-position:  -704px -160px; }
.tiles32 .ui-icon-6-24 { background-position:  -736px -160px; }
.tiles32 .ui-icon-6-25 { background-position:  -768px -160px; }
.tiles32 .ui-icon-6-26 { background-position:  -800px -160px; }
.tiles32 .ui-icon-6-27 { background-position:  -832px -160px; }
.tiles32 .ui-icon-6-28 { background-position:  -864px -160px; }
.tiles32 .ui-icon-6-29 { background-position:  -896px -160px; }
.tiles32 .ui-icon-6-30 { background-position:  -928px -160px; }
.tiles32 .ui-icon-6-31 { background-position:  -960px -160px; }
.tiles32 .ui-icon-6-32 { background-position:  -992px -160px; }
.tiles32 .ui-icon-6-33 { background-position: -1024px -160px; }
.tiles32 .ui-icon-6-34 { background-position: -1056px -160px; }
.tiles32 .ui-icon-6-35 { background-position: -1088px -160px; }
.tiles32 .ui-icon-6-36 { background-position: -1120px -160px; }
.tiles32 .ui-icon-6-37 { background-position: -1152px -160px; }
.tiles32 .ui-icon-6-38 { background-position: -1184px -160px; }
.tiles32 .ui-icon-6-39 { background-position: -1216px -160px; }
.tiles32 .ui-icon-6-40 { background-position: -1248px -160px; }

.tiles32 .ui-icon-7-1 { background-position:     0px -192px; }
.tiles32 .ui-icon-7-2 { background-position:   -32px -192px; }
.tiles32 .ui-icon-7-3 { background-position:   -64px -192px; }
.tiles32 .ui-icon-7-4 { background-position:   -96px -192px; }
.tiles32 .ui-icon-7-5 { background-position:  -128px -192px; }
.tiles32 .ui-icon-7-6 { background-position:  -160px -192px; }
.tiles32 .ui-icon-7-7 { background-position:  -192px -192px; }
.tiles32 .ui-icon-7-8 { background-position:  -224px -192px; }
.tiles32 .ui-icon-7-9 { background-position:  -256px -192px; }
.tiles32 .ui-icon-7-10 { background-position:  -288px -192px; }
.tiles32 .ui-icon-7-11 { background-position:  -320px -192px; }
.tiles32 .ui-icon-7-12 { background-position:  -352px -192px; }
.tiles32 .ui-icon-7-13 { background-position:  -384px -192px; }
.tiles32 .ui-icon-7-14 { background-position:  -416px -192px; }
.tiles32 .ui-icon-7-15 { background-position:  -448px -192px; }
.tiles32 .ui-icon-7-16 { background-position:  -480px -192px; }
.tiles32 .ui-icon-7-17 { background-position:  -512px -192px; }
.tiles32 .ui-icon-7-18 { background-position:  -544px -192px; }
.tiles32 .ui-icon-7-19 { background-position:  -576px -192px; }
.tiles32 .ui-icon-7-20 { background-position:  -608px -192px; }
.tiles32 .ui-icon-7-21 { background-position:  -640px -192px; }
.tiles32 .ui-icon-7-22 { background-position:  -672px -192px; }
.tiles32 .ui-icon-7-23 { background-position:  -704px -192px; }
.tiles32 .ui-icon-7-24 { background-position:  -736px -192px; }
.tiles32 .ui-icon-7-25 { background-position:  -768px -192px; }
.tiles32 .ui-icon-7-26 { background-position:  -800px -192px; }
.tiles32 .ui-icon-7-27 { background-position:  -832px -192px; }
.tiles32 .ui-icon-7-28 { background-position:  -864px -192px; }
.tiles32 .ui-icon-7-29 { background-position:  -896px -192px; }
.tiles32 .ui-icon-7-30 { background-position:  -928px -192px; }
.tiles32 .ui-icon-7-31 { background-position:  -960px -192px; }
.tiles32 .ui-icon-7-32 { background-position:  -992px -192px; }
.tiles32 .ui-icon-7-33 { background-position: -1024px -192px; }
.tiles32 .ui-icon-7-34 { background-position: -1056px -192px; }
.tiles32 .ui-icon-7-35 { background-position: -1088px -192px; }
.tiles32 .ui-icon-7-36 { background-position: -1120px -192px; }
.tiles32 .ui-icon-7-37 { background-position: -1152px -192px; }
.tiles32 .ui-icon-7-38 { background-position: -1184px -192px; }
.tiles32 .ui-icon-7-39 { background-position: -1216px -192px; }
.tiles32 .ui-icon-7-40 { background-position: -1248px -192px; }

.tiles32 .ui-icon-8-1 { background-position:     0px -224px; }
.tiles32 .ui-icon-8-2 { background-position:   -32px -224px; }
.tiles32 .ui-icon-8-3 { background-position:   -64px -224px; }
.tiles32 .ui-icon-8-4 { background-position:   -96px -224px; }
.tiles32 .ui-icon-8-5 { background-position:  -128px -224px; }
.tiles32 .ui-icon-8-6 { background-position:  -160px -224px; }
.tiles32 .ui-icon-8-7 { background-position:  -192px -224px; }
.tiles32 .ui-icon-8-8 { background-position:  -224px -224px; }
.tiles32 .ui-icon-8-9 { background-position:  -256px -224px; }
.tiles32 .ui-icon-8-10 { background-position:  -288px -224px; }
.tiles32 .ui-icon-8-11 { background-position:  -320px -224px; }
.tiles32 .ui-icon-8-12 { background-position:  -352px -224px; }
.tiles32 .ui-icon-8-13 { background-position:  -384px -224px; }
.tiles32 .ui-icon-8-14 { background-position:  -416px -224px; }
.tiles32 .ui-icon-8-15 { background-position:  -448px -224px; }
.tiles32 .ui-icon-8-16 { background-position:  -480px -224px; }
.tiles32 .ui-icon-8-17 { background-position:  -512px -224px; }
.tiles32 .ui-icon-8-18 { background-position:  -544px -224px; }
.tiles32 .ui-icon-8-19 { background-position:  -576px -224px; }
.tiles32 .ui-icon-8-20 { background-position:  -608px -224px; }
.tiles32 .ui-icon-8-21 { background-position:  -640px -224px; }
.tiles32 .ui-icon-8-22 { background-position:  -672px -224px; }
.tiles32 .ui-icon-8-23 { background-position:  -704px -224px; }
.tiles32 .ui-icon-8-24 { background-position:  -736px -224px; }
.tiles32 .ui-icon-8-25 { background-position:  -768px -224px; }
.tiles32 .ui-icon-8-26 { background-position:  -800px -224px; }
.tiles32 .ui-icon-8-27 { background-position:  -832px -224px; }
.tiles32 .ui-icon-8-28 { background-position:  -864px -224px; }
.tiles32 .ui-icon-8-29 { background-position:  -896px -224px; }
.tiles32 .ui-icon-8-30 { background-position:  -928px -224px; }
.tiles32 .ui-icon-8-31 { background-position:  -960px -224px; }
.tiles32 .ui-icon-8-32 { background-position:  -992px -224px; }
.tiles32 .ui-icon-8-33 { background-position: -1024px -224px; }
.tiles32 .ui-icon-8-34 { background-position: -1056px -224px; }
.tiles32 .ui-icon-8-35 { background-position: -1088px -224px; }
.tiles32 .ui-icon-8-36 { background-position: -1120px -224px; }
.tiles32 .ui-icon-8-37 { background-position: -1152px -224px; }
.tiles32 .ui-icon-8-38 { background-position: -1184px -224px; }
.tiles32 .ui-icon-8-39 { background-position: -1216px -224px; }
.tiles32 .ui-icon-8-40 { background-position: -1248px -224px; }

.tiles32 .ui-icon-9-1 { background-position:     0px -256px; }
.tiles32 .ui-icon-9-2 { background-position:   -32px -256px; }
.tiles32 .ui-icon-9-3 { background-position:   -64px -256px; }
.tiles32 .ui-icon-9-4 { background-position:   -96px -256px; }
.tiles32 .ui-icon-9-5 { background-position:  -128px -256px; }
.tiles32 .ui-icon-9-6 { background-position:  -160px -256px; }
.tiles32 .ui-icon-9-7 { background-position:  -192px -256px; }
.tiles32 .ui-icon-9-8 { background-position:  -224px -256px; }
.tiles32 .ui-icon-9-9 { background-position:  -256px -256px; }
.tiles32 .ui-icon-9-10 { background-position:  -288px -256px; }
.tiles32 .ui-icon-9-11 { background-position:  -320px -256px; }
.tiles32 .ui-icon-9-12 { background-position:  -352px -256px; }
.tiles32 .ui-icon-9-13 { background-position:  -384px -256px; }
.tiles32 .ui-icon-9-14 { background-position:  -416px -256px; }
.tiles32 .ui-icon-9-15 { background-position:  -448px -256px; }
.tiles32 .ui-icon-9-16 { background-position:  -480px -256px; }
.tiles32 .ui-icon-9-17 { background-position:  -512px -256px; }
.tiles32 .ui-icon-9-18 { background-position:  -544px -256px; }
.tiles32 .ui-icon-9-19 { background-position:  -576px -256px; }
.tiles32 .ui-icon-9-20 { background-position:  -608px -256px; }
.tiles32 .ui-icon-9-21 { background-position:  -640px -256px; }
.tiles32 .ui-icon-9-22 { background-position:  -672px -256px; }
.tiles32 .ui-icon-9-23 { background-position:  -704px -256px; }
.tiles32 .ui-icon-9-24 { background-position:  -736px -256px; }
.tiles32 .ui-icon-9-25 { background-position:  -768px -256px; }
.tiles32 .ui-icon-9-26 { background-position:  -800px -256px; }
.tiles32 .ui-icon-9-27 { background-position:  -832px -256px; }
.tiles32 .ui-icon-9-28 { background-position:  -864px -256px; }
.tiles32 .ui-icon-9-29 { background-position:  -896px -256px; }
.tiles32 .ui-icon-9-30 { background-position:  -928px -256px; }
.tiles32 .ui-icon-9-31 { background-position:  -960px -256px; }
.tiles32 .ui-icon-9-32 { background-position:  -992px -256px; }
.tiles32 .ui-icon-9-33 { background-position: -1024px -256px; }
.tiles32 .ui-icon-9-34 { background-position: -1056px -256px; }
.tiles32 .ui-icon-9-35 { background-position: -1088px -256px; }
.tiles32 .ui-icon-9-36 { background-position: -1120px -256px; }
.tiles32 .ui-icon-9-37 { background-position: -1152px -256px; }
.tiles32 .ui-icon-9-38 { background-position: -1184px -256px; }
.tiles32 .ui-icon-9-39 { background-position: -1216px -256px; }
.tiles32 .ui-icon-9-40 { background-position: -1248px -256px; }

.tiles32 .ui-icon-10-1 { background-position:     0px -288px; }
.tiles32 .ui-icon-10-2 { background-position:   -32px -288px; }
.tiles32 .ui-icon-10-3 { background-position:   -64px -288px; }
.tiles32 .ui-icon-10-4 { background-position:   -96px -288px; }
.tiles32 .ui-icon-10-5 { background-position:  -128px -288px; }
.tiles32 .ui-icon-10-6 { background-position:  -160px -288px; }
.tiles32 .ui-icon-10-7 { background-position:  -192px -288px; }
.tiles32 .ui-icon-10-8 { background-position:  -224px -288px; }
.tiles32 .ui-icon-10-9 { background-position:  -256px -288px; }
.tiles32 .ui-icon-10-10 { background-position:  -288px -288px; }
.tiles32 .ui-icon-10-11 { background-position:  -320px -288px; }
.tiles32 .ui-icon-10-12 { background-position:  -352px -288px; }
.tiles32 .ui-icon-10-13 { background-position:  -384px -288px; }
.tiles32 .ui-icon-10-14 { background-position:  -416px -288px; }
.tiles32 .ui-icon-10-15 { background-position:  -448px -288px; }
.tiles32 .ui-icon-10-16 { background-position:  -480px -288px; }
.tiles32 .ui-icon-10-17 { background-position:  -512px -288px; }
.tiles32 .ui-icon-10-18 { background-position:  -544px -288px; }
.tiles32 .ui-icon-10-19 { background-position:  -576px -288px; }
.tiles32 .ui-icon-10-20 { background-position:  -608px -288px; }
.tiles32 .ui-icon-10-21 { background-position:  -640px -288px; }
.tiles32 .ui-icon-10-22 { background-position:  -672px -288px; }
.tiles32 .ui-icon-10-23 { background-position:  -704px -288px; }
.tiles32 .ui-icon-10-24 { background-position:  -736px -288px; }
.tiles32 .ui-icon-10-25 { background-position:  -768px -288px; }
.tiles32 .ui-icon-10-26 { background-position:  -800px -288px; }
.tiles32 .ui-icon-10-27 { background-position:  -832px -288px; }
.tiles32 .ui-icon-10-28 { background-position:  -864px -288px; }
.tiles32 .ui-icon-10-29 { background-position:  -896px -288px; }
.tiles32 .ui-icon-10-30 { background-position:  -928px -288px; }
.tiles32 .ui-icon-10-31 { background-position:  -960px -288px; }
.tiles32 .ui-icon-10-32 { background-position:  -992px -288px; }
.tiles32 .ui-icon-10-33 { background-position: -1024px -288px; }
.tiles32 .ui-icon-10-34 { background-position: -1056px -288px; }
.tiles32 .ui-icon-10-35 { background-position: -1088px -288px; }
.tiles32 .ui-icon-10-36 { background-position: -1120px -288px; }
.tiles32 .ui-icon-10-37 { background-position: -1152px -288px; }
.tiles32 .ui-icon-10-38 { background-position: -1184px -288px; }
.tiles32 .ui-icon-10-39 { background-position: -1216px -288px; }
.tiles32 .ui-icon-10-40 { background-position: -1248px -288px; }

.tiles32 .ui-icon-11-1 { background-position:     0px -320px; }
.tiles32 .ui-icon-11-2 { background-position:   -32px -320px; }
.tiles32 .ui-icon-11-3 { background-position:   -64px -320px; }
.tiles32 .ui-icon-11-4 { background-position:   -96px -320px; }
.tiles32 .ui-icon-11-5 { background-position:  -128px -320px; }
.tiles32 .ui-icon-11-6 { background-position:  -160px -320px; }
.tiles32 .ui-icon-11-7 { background-position:  -192px -320px; }
.tiles32 .ui-icon-11-8 { background-position:  -224px -320px; }
.tiles32 .ui-icon-11-9 { background-position:  -256px -320px; }
.tiles32 .ui-icon-11-10 { background-position:  -288px -320px; }
.tiles32 .ui-icon-11-11 { background-position:  -320px -320px; }
.tiles32 .ui-icon-11-12 { background-position:  -352px -320px; }
.tiles32 .ui-icon-11-13 { background-position:  -384px -320px; }
.tiles32 .ui-icon-11-14 { background-position:  -416px -320px; }
.tiles32 .ui-icon-11-15 { background-position:  -448px -320px; }
.tiles32 .ui-icon-11-16 { background-position:  -480px -320px; }
.tiles32 .ui-icon-11-17 { background-position:  -512px -320px; }
.tiles32 .ui-icon-11-18 { background-position:  -544px -320px; }
.tiles32 .ui-icon-11-19 { background-position:  -576px -320px; }
.tiles32 .ui-icon-11-20 { background-position:  -608px -320px; }
.tiles32 .ui-icon-11-21 { background-position:  -640px -320px; }
.tiles32 .ui-icon-11-22 { background-position:  -672px -320px; }
.tiles32 .ui-icon-11-23 { background-position:  -704px -320px; }
.tiles32 .ui-icon-11-24 { background-position:  -736px -320px; }
.tiles32 .ui-icon-11-25 { background-position:  -768px -320px; }
.tiles32 .ui-icon-11-26 { background-position:  -800px -320px; }
.tiles32 .ui-icon-11-27 { background-position:  -832px -320px; }
.tiles32 .ui-icon-11-28 { background-position:  -864px -320px; }
.tiles32 .ui-icon-11-29 { background-position:  -896px -320px; }
.tiles32 .ui-icon-11-30 { background-position:  -928px -320px; }
.tiles32 .ui-icon-11-31 { background-position:  -960px -320px; }
.tiles32 .ui-icon-11-32 { background-position:  -992px -320px; }
.tiles32 .ui-icon-11-33 { background-position: -1024px -320px; }
.tiles32 .ui-icon-11-34 { background-position: -1056px -320px; }
.tiles32 .ui-icon-11-35 { background-position: -1088px -320px; }
.tiles32 .ui-icon-11-36 { background-position: -1120px -320px; }
.tiles32 .ui-icon-11-37 { background-position: -1152px -320px; }
.tiles32 .ui-icon-11-38 { background-position: -1184px -320px; }
.tiles32 .ui-icon-11-39 { background-position: -1216px -320px; }
.tiles32 .ui-icon-11-40 { background-position: -1248px -320px; }

.tiles32 .ui-icon-12-1 { background-position:     0px -352px; }
.tiles32 .ui-icon-12-2 { background-position:   -32px -352px; }
.tiles32 .ui-icon-12-3 { background-position:   -64px -352px; }
.tiles32 .ui-icon-12-4 { background-position:   -96px -352px; }
.tiles32 .ui-icon-12-5 { background-position:  -128px -352px; }
.tiles32 .ui-icon-12-6 { background-position:  -160px -352px; }
.tiles32 .ui-icon-12-7 { background-position:  -192px -352px; }
.tiles32 .ui-icon-12-8 { background-position:  -224px -352px; }
.tiles32 .ui-icon-12-9 { background-position:  -256px -352px; }
.tiles32 .ui-icon-12-10 { background-position:  -288px -352px; }
.tiles32 .ui-icon-12-11 { background-position:  -320px -352px; }
.tiles32 .ui-icon-12-12 { background-position:  -352px -352px; }
.tiles32 .ui-icon-12-13 { background-position:  -384px -352px; }
.tiles32 .ui-icon-12-14 { background-position:  -416px -352px; }
.tiles32 .ui-icon-12-15 { background-position:  -448px -352px; }
.tiles32 .ui-icon-12-16 { background-position:  -480px -352px; }
.tiles32 .ui-icon-12-17 { background-position:  -512px -352px; }
.tiles32 .ui-icon-12-18 { background-position:  -544px -352px; }
.tiles32 .ui-icon-12-19 { background-position:  -576px -352px; }
.tiles32 .ui-icon-12-20 { background-position:  -608px -352px; }
.tiles32 .ui-icon-12-21 { background-position:  -640px -352px; }
.tiles32 .ui-icon-12-22 { background-position:  -672px -352px; }
.tiles32 .ui-icon-12-23 { background-position:  -704px -352px; }
.tiles32 .ui-icon-12-24 { background-position:  -736px -352px; }
.tiles32 .ui-icon-12-25 { background-position:  -768px -352px; }
.tiles32 .ui-icon-12-26 { background-position:  -800px -352px; }
.tiles32 .ui-icon-12-27 { background-position:  -832px -352px; }
.tiles32 .ui-icon-12-28 { background-position:  -864px -352px; }
.tiles32 .ui-icon-12-29 { background-position:  -896px -352px; }
.tiles32 .ui-icon-12-30 { background-position:  -928px -352px; }
.tiles32 .ui-icon-12-31 { background-position:  -960px -352px; }
.tiles32 .ui-icon-12-32 { background-position:  -992px -352px; }
.tiles32 .ui-icon-12-33 { background-position: -1024px -352px; }
.tiles32 .ui-icon-12-34 { background-position: -1056px -352px; }
.tiles32 .ui-icon-12-35 { background-position: -1088px -352px; }
.tiles32 .ui-icon-12-36 { background-position: -1120px -352px; }
.tiles32 .ui-icon-12-37 { background-position: -1152px -352px; }
.tiles32 .ui-icon-12-38 { background-position: -1184px -352px; }
.tiles32 .ui-icon-12-39 { background-position: -1216px -352px; }
.tiles32 .ui-icon-12-40 { background-position: -1248px -352px; }

.tiles32 .ui-icon-13-1 { background-position:     0px -384px; }
.tiles32 .ui-icon-13-2 { background-position:   -32px -384px; }
.tiles32 .ui-icon-13-3 { background-position:   -64px -384px; }
.tiles32 .ui-icon-13-4 { background-position:   -96px -384px; }
.tiles32 .ui-icon-13-5 { background-position:  -128px -384px; }
.tiles32 .ui-icon-13-6 { background-position:  -160px -384px; }
.tiles32 .ui-icon-13-7 { background-position:  -192px -384px; }
.tiles32 .ui-icon-13-8 { background-position:  -224px -384px; }
.tiles32 .ui-icon-13-9 { background-position:  -256px -384px; }
.tiles32 .ui-icon-13-10 { background-position:  -288px -384px; }
.tiles32 .ui-icon-13-11 { background-position:  -320px -384px; }
.tiles32 .ui-icon-13-12 { background-position:  -352px -384px; }
.tiles32 .ui-icon-13-13 { background-position:  -384px -384px; }
.tiles32 .ui-icon-13-14 { background-position:  -416px -384px; }
.tiles32 .ui-icon-13-15 { background-position:  -448px -384px; }
.tiles32 .ui-icon-13-16 { background-position:  -480px -384px; }
.tiles32 .ui-icon-13-17 { background-position:  -512px -384px; }
.tiles32 .ui-icon-13-18 { background-position:  -544px -384px; }
.tiles32 .ui-icon-13-19 { background-position:  -576px -384px; }
.tiles32 .ui-icon-13-20 { background-position:  -608px -384px; }
.tiles32 .ui-icon-13-21 { background-position:  -640px -384px; }
.tiles32 .ui-icon-13-22 { background-position:  -672px -384px; }
.tiles32 .ui-icon-13-23 { background-position:  -704px -384px; }
.tiles32 .ui-icon-13-24 { background-position:  -736px -384px; }
.tiles32 .ui-icon-13-25 { background-position:  -768px -384px; }
.tiles32 .ui-icon-13-26 { background-position:  -800px -384px; }
.tiles32 .ui-icon-13-27 { background-position:  -832px -384px; }
.tiles32 .ui-icon-13-28 { background-position:  -864px -384px; }
.tiles32 .ui-icon-13-29 { background-position:  -896px -384px; }
.tiles32 .ui-icon-13-30 { background-position:  -928px -384px; }
.tiles32 .ui-icon-13-31 { background-position:  -960px -384px; }
.tiles32 .ui-icon-13-32 { background-position:  -992px -384px; }
.tiles32 .ui-icon-13-33 { background-position: -1024px -384px; }
.tiles32 .ui-icon-13-34 { background-position: -1056px -384px; }
.tiles32 .ui-icon-13-35 { background-position: -1088px -384px; }
.tiles32 .ui-icon-13-36 { background-position: -1120px -384px; }
.tiles32 .ui-icon-13-37 { background-position: -1152px -384px; }
.tiles32 .ui-icon-13-38 { background-position: -1184px -384px; }
.tiles32 .ui-icon-13-39 { background-position: -1216px -384px; }
.tiles32 .ui-icon-13-40 { background-position: -1248px -384px; }

.tiles32 .ui-icon-14-1 { background-position:     0px -416px; }
.tiles32 .ui-icon-14-2 { background-position:   -32px -416px; }
.tiles32 .ui-icon-14-3 { background-position:   -64px -416px; }
.tiles32 .ui-icon-14-4 { background-position:   -96px -416px; }
.tiles32 .ui-icon-14-5 { background-position:  -128px -416px; }
.tiles32 .ui-icon-14-6 { background-position:  -160px -416px; }
.tiles32 .ui-icon-14-7 { background-position:  -192px -416px; }
.tiles32 .ui-icon-14-8 { background-position:  -224px -416px; }
.tiles32 .ui-icon-14-9 { background-position:  -256px -416px; }
.tiles32 .ui-icon-14-10 { background-position:  -288px -416px; }
.tiles32 .ui-icon-14-11 { background-position:  -320px -416px; }
.tiles32 .ui-icon-14-12 { background-position:  -352px -416px; }
.tiles32 .ui-icon-14-13 { background-position:  -384px -416px; }
.tiles32 .ui-icon-14-14 { background-position:  -416px -416px; }
.tiles32 .ui-icon-14-15 { background-position:  -448px -416px; }
.tiles32 .ui-icon-14-16 { background-position:  -480px -416px; }
.tiles32 .ui-icon-14-17 { background-position:  -512px -416px; }
.tiles32 .ui-icon-14-18 { background-position:  -544px -416px; }
.tiles32 .ui-icon-14-19 { background-position:  -576px -416px; }
.tiles32 .ui-icon-14-20 { background-position:  -608px -416px; }
.tiles32 .ui-icon-14-21 { background-position:  -640px -416px; }
.tiles32 .ui-icon-14-22 { background-position:  -672px -416px; }
.tiles32 .ui-icon-14-23 { background-position:  -704px -416px; }
.tiles32 .ui-icon-14-24 { background-position:  -736px -416px; }
.tiles32 .ui-icon-14-25 { background-position:  -768px -416px; }
.tiles32 .ui-icon-14-26 { background-position:  -800px -416px; }
.tiles32 .ui-icon-14-27 { background-position:  -832px -416px; }
.tiles32 .ui-icon-14-28 { background-position:  -864px -416px; }
.tiles32 .ui-icon-14-29 { background-position:  -896px -416px; }
.tiles32 .ui-icon-14-30 { background-position:  -928px -416px; }
.tiles32 .ui-icon-14-31 { background-position:  -960px -416px; }
.tiles32 .ui-icon-14-32 { background-position:  -992px -416px; }
.tiles32 .ui-icon-14-33 { background-position: -1024px -416px; }
.tiles32 .ui-icon-14-34 { background-position: -1056px -416px; }
.tiles32 .ui-icon-14-35 { background-position: -1088px -416px; }
.tiles32 .ui-icon-14-36 { background-position: -1120px -416px; }
.tiles32 .ui-icon-14-37 { background-position: -1152px -416px; }
.tiles32 .ui-icon-14-38 { background-position: -1184px -416px; }
.tiles32 .ui-icon-14-39 { background-position: -1216px -416px; }
.tiles32 .ui-icon-14-40 { background-position: -1248px -416px; }

.tiles32 .ui-icon-15-1 { background-position:     0px -448px; }
.tiles32 .ui-icon-15-2 { background-position:   -32px -448px; }
.tiles32 .ui-icon-15-3 { background-position:   -64px -448px; }
.tiles32 .ui-icon-15-4 { background-position:   -96px -448px; }
.tiles32 .ui-icon-15-5 { background-position:  -128px -448px; }
.tiles32 .ui-icon-15-6 { background-position:  -160px -448px; }
.tiles32 .ui-icon-15-7 { background-position:  -192px -448px; }
.tiles32 .ui-icon-15-8 { background-position:  -224px -448px; }
.tiles32 .ui-icon-15-9 { background-position:  -256px -448px; }
.tiles32 .ui-icon-15-10 { background-position:  -288px -448px; }
.tiles32 .ui-icon-15-11 { background-position:  -320px -448px; }
.tiles32 .ui-icon-15-12 { background-position:  -352px -448px; }
.tiles32 .ui-icon-15-13 { background-position:  -384px -448px; }
.tiles32 .ui-icon-15-14 { background-position:  -416px -448px; }
.tiles32 .ui-icon-15-15 { background-position:  -448px -448px; }
.tiles32 .ui-icon-15-16 { background-position:  -480px -448px; }
.tiles32 .ui-icon-15-17 { background-position:  -512px -448px; }
.tiles32 .ui-icon-15-18 { background-position:  -544px -448px; }
.tiles32 .ui-icon-15-19 { background-position:  -576px -448px; }
.tiles32 .ui-icon-15-20 { background-position:  -608px -448px; }
.tiles32 .ui-icon-15-21 { background-position:  -640px -448px; }
.tiles32 .ui-icon-15-22 { background-position:  -672px -448px; }
.tiles32 .ui-icon-15-23 { background-position:  -704px -448px; }
.tiles32 .ui-icon-15-24 { background-position:  -736px -448px; }
.tiles32 .ui-icon-15-25 { background-position:  -768px -448px; }
.tiles32 .ui-icon-15-26 { background-position:  -800px -448px; }
.tiles32 .ui-icon-15-27 { background-position:  -832px -448px; }
.tiles32 .ui-icon-15-28 { background-position:  -864px -448px; }
.tiles32 .ui-icon-15-29 { background-position:  -896px -448px; }
.tiles32 .ui-icon-15-30 { background-position:  -928px -448px; }
.tiles32 .ui-icon-15-31 { background-position:  -960px -448px; }
.tiles32 .ui-icon-15-32 { background-position:  -992px -448px; }
.tiles32 .ui-icon-15-33 { background-position: -1024px -448px; }
.tiles32 .ui-icon-15-34 { background-position: -1056px -448px; }
.tiles32 .ui-icon-15-35 { background-position: -1088px -448px; }
.tiles32 .ui-icon-15-36 { background-position: -1120px -448px; }
.tiles32 .ui-icon-15-37 { background-position: -1152px -448px; }
.tiles32 .ui-icon-15-38 { background-position: -1184px -448px; }
.tiles32 .ui-icon-15-39 { background-position: -1216px -448px; }
.tiles32 .ui-icon-15-40 { background-position: -1248px -448px; }

.tiles32 .ui-icon-16-1 { background-position:     0px -480px; }
.tiles32 .ui-icon-16-2 { background-position:   -32px -480px; }
.tiles32 .ui-icon-16-3 { background-position:   -64px -480px; }
.tiles32 .ui-icon-16-4 { background-position:   -96px -480px; }
.tiles32 .ui-icon-16-5 { background-position:  -128px -480px; }
.tiles32 .ui-icon-16-6 { background-position:  -160px -480px; }
.tiles32 .ui-icon-16-7 { background-position:  -192px -480px; }
.tiles32 .ui-icon-16-8 { background-position:  -224px -480px; }
.tiles32 .ui-icon-16-9 { background-position:  -256px -480px; }
.tiles32 .ui-icon-16-10 { background-position:  -288px -480px; }
.tiles32 .ui-icon-16-11 { background-position:  -320px -480px; }
.tiles32 .ui-icon-16-12 { background-position:  -352px -480px; }
.tiles32 .ui-icon-16-13 { background-position:  -384px -480px; }
.tiles32 .ui-icon-16-14 { background-position:  -416px -480px; }
.tiles32 .ui-icon-16-15 { background-position:  -448px -480px; }
.tiles32 .ui-icon-16-16 { background-position:  -480px -480px; }
.tiles32 .ui-icon-16-17 { background-position:  -512px -480px; }
.tiles32 .ui-icon-16-18 { background-position:  -544px -480px; }
.tiles32 .ui-icon-16-19 { background-position:  -576px -480px; }
.tiles32 .ui-icon-16-20 { background-position:  -608px -480px; }
.tiles32 .ui-icon-16-21 { background-position:  -640px -480px; }
.tiles32 .ui-icon-16-22 { background-position:  -672px -480px; }
.tiles32 .ui-icon-16-23 { background-position:  -704px -480px; }
.tiles32 .ui-icon-16-24 { background-position:  -736px -480px; }
.tiles32 .ui-icon-16-25 { background-position:  -768px -480px; }
.tiles32 .ui-icon-16-26 { background-position:  -800px -480px; }
.tiles32 .ui-icon-16-27 { background-position:  -832px -480px; }
.tiles32 .ui-icon-16-28 { background-position:  -864px -480px; }
.tiles32 .ui-icon-16-29 { background-position:  -896px -480px; }
.tiles32 .ui-icon-16-30 { background-position:  -928px -480px; }
.tiles32 .ui-icon-16-31 { background-position:  -960px -480px; }
.tiles32 .ui-icon-16-32 { background-position:  -992px -480px; }
.tiles32 .ui-icon-16-33 { background-position: -1024px -480px; }
.tiles32 .ui-icon-16-34 { background-position: -1056px -480px; }
.tiles32 .ui-icon-16-35 { background-position: -1088px -480px; }
.tiles32 .ui-icon-16-36 { background-position: -1120px -480px; }
.tiles32 .ui-icon-16-37 { background-position: -1152px -480px; }
.tiles32 .ui-icon-16-38 { background-position: -1184px -480px; }
.tiles32 .ui-icon-16-39 { background-position: -1216px -480px; }
.tiles32 .ui-icon-16-40 { background-position: -1248px -480px; }

.tiles32 .ui-icon-17-1 { background-position:     0px -512px; }
.tiles32 .ui-icon-17-2 { background-position:   -32px -512px; }
.tiles32 .ui-icon-17-3 { background-position:   -64px -512px; }
.tiles32 .ui-icon-17-4 { background-position:   -96px -512px; }
.tiles32 .ui-icon-17-5 { background-position:  -128px -512px; }
.tiles32 .ui-icon-17-6 { background-position:  -160px -512px; }
.tiles32 .ui-icon-17-7 { background-position:  -192px -512px; }
.tiles32 .ui-icon-17-8 { background-position:  -224px -512px; }
.tiles32 .ui-icon-17-9 { background-position:  -256px -512px; }
.tiles32 .ui-icon-17-10 { background-position:  -288px -512px; }
.tiles32 .ui-icon-17-11 { background-position:  -320px -512px; }
.tiles32 .ui-icon-17-12 { background-position:  -352px -512px; }
.tiles32 .ui-icon-17-13 { background-position:  -384px -512px; }
.tiles32 .ui-icon-17-14 { background-position:  -416px -512px; }
.tiles32 .ui-icon-17-15 { background-position:  -448px -512px; }
.tiles32 .ui-icon-17-16 { background-position:  -480px -512px; }
.tiles32 .ui-icon-17-17 { background-position:  -512px -512px; }
.tiles32 .ui-icon-17-18 { background-position:  -544px -512px; }
.tiles32 .ui-icon-17-19 { background-position:  -576px -512px; }
.tiles32 .ui-icon-17-20 { background-position:  -608px -512px; }
.tiles32 .ui-icon-17-21 { background-position:  -640px -512px; }
.tiles32 .ui-icon-17-22 { background-position:  -672px -512px; }
.tiles32 .ui-icon-17-23 { background-position:  -704px -512px; }
.tiles32 .ui-icon-17-24 { background-position:  -736px -512px; }
.tiles32 .ui-icon-17-25 { background-position:  -768px -512px; }
.tiles32 .ui-icon-17-26 { background-position:  -800px -512px; }
.tiles32 .ui-icon-17-27 { background-position:  -832px -512px; }
.tiles32 .ui-icon-17-28 { background-position:  -864px -512px; }
.tiles32 .ui-icon-17-29 { background-position:  -896px -512px; }
.tiles32 .ui-icon-17-30 { background-position:  -928px -512px; }
.tiles32 .ui-icon-17-31 { background-position:  -960px -512px; }
.tiles32 .ui-icon-17-32 { background-position:  -992px -512px; }
.tiles32 .ui-icon-17-33 { background-position: -1024px -512px; }
.tiles32 .ui-icon-17-34 { background-position: -1056px -512px; }
.tiles32 .ui-icon-17-35 { background-position: -1088px -512px; }
.tiles32 .ui-icon-17-36 { background-position: -1120px -512px; }
.tiles32 .ui-icon-17-37 { background-position: -1152px -512px; }
.tiles32 .ui-icon-17-38 { background-position: -1184px -512px; }
.tiles32 .ui-icon-17-39 { background-position: -1216px -512px; }
.tiles32 .ui-icon-17-40 { background-position: -1248px -512px; }

.tiles32 .ui-icon-18-1  { background-position:     0px -544px; }
.tiles32 .ui-icon-18-2  { background-position:   -32px -544px; }
.tiles32 .ui-icon-18-3  { background-position:   -64px -544px; }
.tiles32 .ui-icon-18-4  { background-position:   -96px -544px; }
.tiles32 .ui-icon-18-5  { background-position:  -128px -544px; }
.tiles32 .ui-icon-18-6  { background-position:  -160px -544px; }
.tiles32 .ui-icon-18-7  { background-position:  -192px -544px; }
.tiles32 .ui-icon-18-8  { background-position:  -224px -544px; }
.tiles32 .ui-icon-18-9  { background-position:  -256px -544px; }
.tiles32 .ui-icon-18-10 { background-position:  -288px -544px; }
.tiles32 .ui-icon-18-11 { background-position:  -320px -544px; }
.tiles32 .ui-icon-18-12 { background-position:  -352px -544px; }
.tiles32 .ui-icon-18-13 { background-position:  -384px -544px; }
.tiles32 .ui-icon-18-14 { background-position:  -416px -544px; }
.tiles32 .ui-icon-18-15 { background-position:  -448px -544px; }
.tiles32 .ui-icon-18-16 { background-position:  -480px -544px; }
.tiles32 .ui-icon-18-17 { background-position:  -512px -544px; }
.tiles32 .ui-icon-18-18 { background-position:  -544px -544px; }
.tiles32 .ui-icon-18-19 { background-position:  -576px -544px; }
.tiles32 .ui-icon-18-20 { background-position:  -608px -544px; }
.tiles32 .ui-icon-18-21 { background-position:  -640px -544px; }
.tiles32 .ui-icon-18-22 { background-position:  -672px -544px; }
.tiles32 .ui-icon-18-23 { background-position:  -704px -544px; }
.tiles32 .ui-icon-18-24 { background-position:  -736px -544px; }
.tiles32 .ui-icon-18-25 { background-position:  -768px -544px; }
.tiles32 .ui-icon-18-26 { background-position:  -800px -544px; }
.tiles32 .ui-icon-18-27 { background-position:  -832px -544px; }
.tiles32 .ui-icon-18-28 { background-position:  -864px -544px; }
.tiles32 .ui-icon-18-29 { background-position:  -896px -544px; }
.tiles32 .ui-icon-18-30 { background-position:  -928px -544px; }
.tiles32 .ui-icon-18-31 { background-position:  -960px -544px; }
.tiles32 .ui-icon-18-32 { background-position:  -992px -544px; }
.tiles32 .ui-icon-18-33 { background-position: -1024px -544px; }
.tiles32 .ui-icon-18-34 { background-position: -1056px -544px; }
.tiles32 .ui-icon-18-35 { background-position: -1088px -544px; }
.tiles32 .ui-icon-18-36 { background-position: -1120px -544px; }
.tiles32 .ui-icon-18-37 { background-position: -1152px -544px; }
.tiles32 .ui-icon-18-38 { background-position: -1184px -544px; }
.tiles32 .ui-icon-18-39 { background-position: -1216px -544px; }
.tiles32 .ui-icon-18-40 { background-position: -1248px -544px; }

.tiles32 .ui-icon-19-1  { background-position:     0px -576px; }
.tiles32 .ui-icon-19-2  { background-position:   -32px -576px; }
.tiles32 .ui-icon-19-3  { background-position:   -64px -576px; }
.tiles32 .ui-icon-19-4  { background-position:   -96px -576px; }
.tiles32 .ui-icon-19-5  { background-position:  -128px -576px; }
.tiles32 .ui-icon-19-6  { background-position:  -160px -576px; }
.tiles32 .ui-icon-19-7  { background-position:  -192px -576px; }
.tiles32 .ui-icon-19-8  { background-position:  -224px -576px; }
.tiles32 .ui-icon-19-9  { background-position:  -256px -576px; }
.tiles32 .ui-icon-19-10 { background-position:  -288px -576px; }
.tiles32 .ui-icon-19-11 { background-position:  -320px -576px; }
.tiles32 .ui-icon-19-12 { background-position:  -352px -576px; }
.tiles32 .ui-icon-19-13 { background-position:  -384px -576px; }
.tiles32 .ui-icon-19-14 { background-position:  -416px -576px; }
.tiles32 .ui-icon-19-15 { background-position:  -448px -576px; }
.tiles32 .ui-icon-19-16 { background-position:  -480px -576px; }
.tiles32 .ui-icon-19-17 { background-position:  -512px -576px; }
.tiles32 .ui-icon-19-18 { background-position:  -544px -576px; }
.tiles32 .ui-icon-19-19 { background-position:  -576px -576px; }
.tiles32 .ui-icon-19-20 { background-position:  -608px -576px; }
.tiles32 .ui-icon-19-21 { background-position:  -640px -576px; }
.tiles32 .ui-icon-19-22 { background-position:  -672px -576px; }
.tiles32 .ui-icon-19-23 { background-position:  -704px -576px; }
.tiles32 .ui-icon-19-24 { background-position:  -736px -576px; }
.tiles32 .ui-icon-19-25 { background-position:  -768px -576px; }
.tiles32 .ui-icon-19-26 { background-position:  -800px -576px; }
.tiles32 .ui-icon-19-27 { background-position:  -832px -576px; }
.tiles32 .ui-icon-19-28 { background-position:  -864px -576px; }
.tiles32 .ui-icon-19-29 { background-position:  -896px -576px; }
.tiles32 .ui-icon-19-30 { background-position:  -928px -576px; }
.tiles32 .ui-icon-19-31 { background-position:  -960px -576px; }
.tiles32 .ui-icon-19-32 { background-position:  -992px -576px; }
.tiles32 .ui-icon-19-33 { background-position: -1024px -576px; }
.tiles32 .ui-icon-19-34 { background-position: -1056px -576px; }
.tiles32 .ui-icon-19-35 { background-position: -1088px -576px; }
.tiles32 .ui-icon-19-36 { background-position: -1120px -576px; }
.tiles32 .ui-icon-19-37 { background-position: -1152px -576px; }
.tiles32 .ui-icon-19-38 { background-position: -1184px -576px; }
.tiles32 .ui-icon-19-39 { background-position: -1216px -576px; }
.tiles32 .ui-icon-19-40 { background-position: -1248px -576px; }

.tiles32 .ui-icon-20-1 { background-position:     0px -608px; }
.tiles32 .ui-icon-20-2 { background-position:   -32px -608px; }
.tiles32 .ui-icon-20-3 { background-position:   -64px -608px; }
.tiles32 .ui-icon-20-4 { background-position:   -96px -608px; }
.tiles32 .ui-icon-20-5 { background-position:  -128px -608px; }
.tiles32 .ui-icon-20-6 { background-position:  -160px -608px; }
.tiles32 .ui-icon-20-7 { background-position:  -192px -608px; }
.tiles32 .ui-icon-20-8 { background-position:  -224px -608px; }
.tiles32 .ui-icon-20-9 { background-position:  -256px -608px; }
.tiles32 .ui-icon-20-10 { background-position:  -288px -608px; }
.tiles32 .ui-icon-20-11 { background-position:  -320px -608px; }
.tiles32 .ui-icon-20-12 { background-position:  -352px -608px; }
.tiles32 .ui-icon-20-13 { background-position:  -384px -608px; }
.tiles32 .ui-icon-20-14 { background-position:  -416px -608px; }
.tiles32 .ui-icon-20-15 { background-position:  -448px -608px; }
.tiles32 .ui-icon-20-16 { background-position:  -480px -608px; }
.tiles32 .ui-icon-20-17 { background-position:  -512px -608px; }
.tiles32 .ui-icon-20-18 { background-position:  -544px -608px; }
.tiles32 .ui-icon-20-19 { background-position:  -576px -608px; }
.tiles32 .ui-icon-20-20 { background-position:  -608px -608px; }
.tiles32 .ui-icon-20-21 { background-position:  -640px -608px; }
.tiles32 .ui-icon-20-22 { background-position:  -672px -608px; }
.tiles32 .ui-icon-20-23 { background-position:  -704px -608px; }
.tiles32 .ui-icon-20-24 { background-position:  -736px -608px; }
.tiles32 .ui-icon-20-25 { background-position:  -768px -608px; }
.tiles32 .ui-icon-20-26 { background-position:  -800px -608px; }
.tiles32 .ui-icon-20-27 { background-position:  -832px -608px; }
.tiles32 .ui-icon-20-28 { background-position:  -864px -608px; }
.tiles32 .ui-icon-20-29 { background-position:  -896px -608px; }
.tiles32 .ui-icon-20-30 { background-position:  -928px -608px; }
.tiles32 .ui-icon-20-31 { background-position:  -960px -608px; }
.tiles32 .ui-icon-20-32 { background-position:  -992px -608px; }
.tiles32 .ui-icon-20-33 { background-position: -1024px -608px; }
.tiles32 .ui-icon-20-34 { background-position: -1056px -608px; }
.tiles32 .ui-icon-20-35 { background-position: -1088px -608px; }
.tiles32 .ui-icon-20-36 { background-position: -1120px -608px; }
.tiles32 .ui-icon-20-37 { background-position: -1152px -608px; }
.tiles32 .ui-icon-20-38 { background-position: -1184px -608px; }
.tiles32 .ui-icon-20-39 { background-position: -1216px -608px; }
.tiles32 .ui-icon-20-40 { background-position: -1248px -608px; }

.tiles32 .ui-icon-21-1  { background-position:     0px -640px; }
.tiles32 .ui-icon-21-2  { background-position:   -32px -640px; }
.tiles32 .ui-icon-21-3  { background-position:   -64px -640px; }
.tiles32 .ui-icon-21-4  { background-position:   -96px -640px; }
.tiles32 .ui-icon-21-5  { background-position:  -128px -640px; }
.tiles32 .ui-icon-21-6  { background-position:  -160px -640px; }
.tiles32 .ui-icon-21-7  { background-position:  -192px -640px; }
.tiles32 .ui-icon-21-8  { background-position:  -224px -640px; }
.tiles32 .ui-icon-21-9  { background-position:  -256px -640px; }
.tiles32 .ui-icon-21-10 { background-position:  -288px -640px; }
.tiles32 .ui-icon-21-11 { background-position:  -320px -640px; }
.tiles32 .ui-icon-21-12 { background-position:  -352px -640px; }
.tiles32 .ui-icon-21-13 { background-position:  -384px -640px; }
.tiles32 .ui-icon-21-14 { background-position:  -416px -640px; }
.tiles32 .ui-icon-21-15 { background-position:  -448px -640px; }
.tiles32 .ui-icon-21-16 { background-position:  -480px -640px; }
.tiles32 .ui-icon-21-17 { background-position:  -512px -640px; }
.tiles32 .ui-icon-21-18 { background-position:  -544px -640px; }
.tiles32 .ui-icon-21-19 { background-position:  -576px -640px; }
.tiles32 .ui-icon-21-20 { background-position:  -608px -640px; }
.tiles32 .ui-icon-21-21 { background-position:  -640px -640px; }
.tiles32 .ui-icon-21-22 { background-position:  -672px -640px; }
.tiles32 .ui-icon-21-23 { background-position:  -704px -640px; }
.tiles32 .ui-icon-21-24 { background-position:  -736px -640px; }
.tiles32 .ui-icon-21-25 { background-position:  -768px -640px; }
.tiles32 .ui-icon-21-26 { background-position:  -800px -640px; }
.tiles32 .ui-icon-21-27 { background-position:  -832px -640px; }
.tiles32 .ui-icon-21-28 { background-position:  -864px -640px; }
.tiles32 .ui-icon-21-29 { background-position:  -896px -640px; }
.tiles32 .ui-icon-21-30 { background-position:  -928px -640px; }
.tiles32 .ui-icon-21-31 { background-position:  -960px -640px; }
.tiles32 .ui-icon-21-32 { background-position:  -992px -640px; }
.tiles32 .ui-icon-21-33 { background-position: -1024px -640px; }
.tiles32 .ui-icon-21-34 { background-position: -1056px -640px; }
.tiles32 .ui-icon-21-35 { background-position: -1088px -640px; }
.tiles32 .ui-icon-21-36 { background-position: -1120px -640px; }
.tiles32 .ui-icon-21-37 { background-position: -1152px -640px; }
.tiles32 .ui-icon-21-38 { background-position: -1184px -640px; }
.tiles32 .ui-icon-21-39 { background-position: -1216px -640px; }
.tiles32 .ui-icon-21-40 { background-position: -1248px -640px; }


.tiles32 .ui-icon-22-1  { background-position:     0px -672px; }
.tiles32 .ui-icon-22-2  { background-position:   -32px -672px; }
.tiles32 .ui-icon-22-3  { background-position:   -64px -672px; }
.tiles32 .ui-icon-22-4  { background-position:   -96px -672px; }
.tiles32 .ui-icon-22-5  { background-position:  -128px -672px; }
.tiles32 .ui-icon-22-6  { background-position:  -160px -672px; }
.tiles32 .ui-icon-22-7  { background-position:  -192px -672px; }
.tiles32 .ui-icon-22-8  { background-position:  -224px -672px; }
.tiles32 .ui-icon-22-9  { background-position:  -256px -672px; }
.tiles32 .ui-icon-22-10 { background-position:  -288px -672px; }
.tiles32 .ui-icon-22-11 { background-position:  -320px -672px; }
.tiles32 .ui-icon-22-12 { background-position:  -352px -672px; }
.tiles32 .ui-icon-22-13 { background-position:  -384px -672px; }
.tiles32 .ui-icon-22-14 { background-position:  -416px -672px; }
.tiles32 .ui-icon-22-15 { background-position:  -448px -672px; }
.tiles32 .ui-icon-22-16 { background-position:  -480px -672px; }
.tiles32 .ui-icon-22-17 { background-position:  -512px -672px; }
.tiles32 .ui-icon-22-18 { background-position:  -544px -672px; }
.tiles32 .ui-icon-22-19 { background-position:  -576px -672px; }
.tiles32 .ui-icon-22-20 { background-position:  -608px -672px; }
.tiles32 .ui-icon-22-21 { background-position:  -640px -672px; }
.tiles32 .ui-icon-22-22 { background-position:  -672px -672px; }
.tiles32 .ui-icon-22-23 { background-position:  -704px -672px; }
.tiles32 .ui-icon-22-24 { background-position:  -736px -672px; }
.tiles32 .ui-icon-22-25 { background-position:  -768px -672px; }
.tiles32 .ui-icon-22-26 { background-position:  -800px -672px; }
.tiles32 .ui-icon-22-27 { background-position:  -832px -672px; }
.tiles32 .ui-icon-22-28 { background-position:  -864px -672px; }
.tiles32 .ui-icon-22-29 { background-position:  -896px -672px; }
.tiles32 .ui-icon-22-30 { background-position:  -928px -672px; }
.tiles32 .ui-icon-22-31 { background-position:  -960px -672px; }
.tiles32 .ui-icon-22-32 { background-position:  -992px -672px; }
.tiles32 .ui-icon-22-33 { background-position: -1024px -672px; }
.tiles32 .ui-icon-22-34 { background-position: -1056px -672px; }
.tiles32 .ui-icon-22-35 { background-position: -1088px -672px; }
.tiles32 .ui-icon-22-36 { background-position: -1120px -672px; }
.tiles32 .ui-icon-22-37 { background-position: -1152px -672px; }
.tiles32 .ui-icon-22-38 { background-position: -1184px -672px; }
.tiles32 .ui-icon-22-39 { background-position: -1216px -672px; }
.tiles32 .ui-icon-22-40 { background-position: -1248px -672px; }


.tiles32 .ui-icon-23-1  { background-position:     0px -704px; }
.tiles32 .ui-icon-23-2  { background-position:   -32px -704px; }
.tiles32 .ui-icon-23-3  { background-position:   -64px -704px; }
.tiles32 .ui-icon-23-4  { background-position:   -96px -704px; }
.tiles32 .ui-icon-23-5  { background-position:  -128px -704px; }
.tiles32 .ui-icon-23-6  { background-position:  -160px -704px; }
.tiles32 .ui-icon-23-7  { background-position:  -192px -704px; }
.tiles32 .ui-icon-23-8  { background-position:  -224px -704px; }
.tiles32 .ui-icon-23-9  { background-position:  -256px -704px; }
.tiles32 .ui-icon-23-10 { background-position:  -288px -704px; }
.tiles32 .ui-icon-23-11 { background-position:  -320px -704px; }
.tiles32 .ui-icon-23-12 { background-position:  -352px -704px; }
.tiles32 .ui-icon-23-13 { background-position:  -384px -704px; }
.tiles32 .ui-icon-23-14 { background-position:  -416px -704px; }
.tiles32 .ui-icon-23-15 { background-position:  -448px -704px; }
.tiles32 .ui-icon-23-16 { background-position:  -480px -704px; }
.tiles32 .ui-icon-23-17 { background-position:  -512px -704px; }
.tiles32 .ui-icon-23-18 { background-position:  -544px -704px; }
.tiles32 .ui-icon-23-19 { background-position:  -576px -704px; }
.tiles32 .ui-icon-23-20 { background-position:  -608px -704px; }
.tiles32 .ui-icon-23-21 { background-position:  -640px -704px; }
.tiles32 .ui-icon-23-22 { background-position:  -672px -704px; }
.tiles32 .ui-icon-23-23 { background-position:  -704px -704px; }
.tiles32 .ui-icon-23-24 { background-position:  -736px -704px; }
.tiles32 .ui-icon-23-25 { background-position:  -768px -704px; }
.tiles32 .ui-icon-23-26 { background-position:  -800px -704px; }
.tiles32 .ui-icon-23-27 { background-position:  -832px -704px; }
.tiles32 .ui-icon-23-28 { background-position:  -864px -704px; }
.tiles32 .ui-icon-23-29 { background-position:  -896px -704px; }
.tiles32 .ui-icon-23-30 { background-position:  -928px -704px; }
.tiles32 .ui-icon-23-31 { background-position:  -960px -704px; }
.tiles32 .ui-icon-23-32 { background-position:  -992px -704px; }
.tiles32 .ui-icon-23-33 { background-position: -1024px -704px; }
.tiles32 .ui-icon-23-34 { background-position: -1056px -704px; }
.tiles32 .ui-icon-23-35 { background-position: -1088px -704px; }
.tiles32 .ui-icon-23-36 { background-position: -1120px -704px; }
.tiles32 .ui-icon-23-37 { background-position: -1152px -704px; }
.tiles32 .ui-icon-23-38 { background-position: -1184px -704px; }
.tiles32 .ui-icon-23-39 { background-position: -1216px -704px; }
.tiles32 .ui-icon-23-40 { background-position: -1248px -704px; }


.tiles32 .ui-icon-24-1  { background-position:     0px -736px; }
.tiles32 .ui-icon-24-2  { background-position:   -32px -736px; }
.tiles32 .ui-icon-24-3  { background-position:   -64px -736px; }
.tiles32 .ui-icon-24-4  { background-position:   -96px -736px; }
.tiles32 .ui-icon-24-5  { background-position:  -128px -736px; }
.tiles32 .ui-icon-24-6  { background-position:  -160px -736px; }
.tiles32 .ui-icon-24-7  { background-position:  -192px -736px; }
.tiles32 .ui-icon-24-8  { background-position:  -224px -736px; }
.tiles32 .ui-icon-24-9  { background-position:  -256px -736px; }
.tiles32 .ui-icon-24-10 { background-position:  -288px -736px; }
.tiles32 .ui-icon-24-11 { background-position:  -320px -736px; }
.tiles32 .ui-icon-24-12 { background-position:  -352px -736px; }
.tiles32 .ui-icon-24-13 { background-position:  -384px -736px; }
.tiles32 .ui-icon-24-14 { background-position:  -416px -736px; }
.tiles32 .ui-icon-24-15 { background-position:  -448px -736px; }
.tiles32 .ui-icon-24-16 { background-position:  -480px -736px; }
.tiles32 .ui-icon-24-17 { background-position:  -512px -736px; }
.tiles32 .ui-icon-24-18 { background-position:  -544px -736px; }
.tiles32 .ui-icon-24-19 { background-position:  -576px -736px; }
.tiles32 .ui-icon-24-20 { background-position:  -608px -736px; }
.tiles32 .ui-icon-24-21 { background-position:  -640px -736px; }
.tiles32 .ui-icon-24-22 { background-position:  -672px -736px; }
.tiles32 .ui-icon-24-23 { background-position:  -704px -736px; }
.tiles32 .ui-icon-24-24 { background-position:  -736px -736px; }
.tiles32 .ui-icon-24-25 { background-position:  -768px -736px; }
.tiles32 .ui-icon-24-26 { background-position:  -800px -736px; }
.tiles32 .ui-icon-24-27 { background-position:  -832px -736px; }
.tiles32 .ui-icon-24-28 { background-position:  -864px -736px; }
.tiles32 .ui-icon-24-29 { background-position:  -896px -736px; }
.tiles32 .ui-icon-24-30 { background-position:  -928px -736px; }
.tiles32 .ui-icon-24-31 { background-position:  -960px -736px; }
.tiles32 .ui-icon-24-32 { background-position:  -992px -736px; }
.tiles32 .ui-icon-24-33 { background-position: -1024px -736px; }
.tiles32 .ui-icon-24-34 { background-position: -1056px -736px; }
.tiles32 .ui-icon-24-35 { background-position: -1088px -736px; }
.tiles32 .ui-icon-24-36 { background-position: -1120px -736px; }
.tiles32 .ui-icon-24-37 { background-position: -1152px -736px; }
.tiles32 .ui-icon-24-38 { background-position: -1184px -736px; }
.tiles32 .ui-icon-24-39 { background-position: -1216px -736px; }
.tiles32 .ui-icon-24-40 { background-position: -1248px -736px; }


.tiles32 .ui-icon-25-1  { background-position:     0px -768px; }
.tiles32 .ui-icon-25-2  { background-position:   -32px -768px; }
.tiles32 .ui-icon-25-3  { background-position:   -64px -768px; }
.tiles32 .ui-icon-25-4  { background-position:   -96px -768px; }
.tiles32 .ui-icon-25-5  { background-position:  -128px -768px; }
.tiles32 .ui-icon-25-6  { background-position:  -160px -768px; }
.tiles32 .ui-icon-25-7  { background-position:  -192px -768px; }
.tiles32 .ui-icon-25-8  { background-position:  -224px -768px; }
.tiles32 .ui-icon-25-9  { background-position:  -256px -768px; }
.tiles32 .ui-icon-25-10 { background-position:  -288px -768px; }
.tiles32 .ui-icon-25-11 { background-position:  -320px -768px; }
.tiles32 .ui-icon-25-12 { background-position:  -352px -768px; }
.tiles32 .ui-icon-25-13 { background-position:  -384px -768px; }
.tiles32 .ui-icon-25-14 { background-position:  -416px -768px; }
.tiles32 .ui-icon-25-15 { background-position:  -448px -768px; }
.tiles32 .ui-icon-25-16 { background-position:  -480px -768px; }
.tiles32 .ui-icon-25-17 { background-position:  -512px -768px; }
.tiles32 .ui-icon-25-18 { background-position:  -544px -768px; }
.tiles32 .ui-icon-25-19 { background-position:  -576px -768px; }
.tiles32 .ui-icon-25-20 { background-position:  -608px -768px; }
.tiles32 .ui-icon-25-21 { background-position:  -640px -768px; }
.tiles32 .ui-icon-25-22 { background-position:  -672px -768px; }
.tiles32 .ui-icon-25-23 { background-position:  -704px -768px; }
.tiles32 .ui-icon-25-24 { background-position:  -736px -768px; }
.tiles32 .ui-icon-25-25 { background-position:  -768px -768px; }
.tiles32 .ui-icon-25-26 { background-position:  -800px -768px; }
.tiles32 .ui-icon-25-27 { background-position:  -832px -768px; }
.tiles32 .ui-icon-25-28 { background-position:  -864px -768px; }
.tiles32 .ui-icon-25-29 { background-position:  -896px -768px; }
.tiles32 .ui-icon-25-30 { background-position:  -928px -768px; }
.tiles32 .ui-icon-25-31 { background-position:  -960px -768px; }
.tiles32 .ui-icon-25-32 { background-position:  -992px -768px; }
.tiles32 .ui-icon-25-33 { background-position: -1024px -768px; }
.tiles32 .ui-icon-25-34 { background-position: -1056px -768px; }
.tiles32 .ui-icon-25-35 { background-position: -1088px -768px; }
.tiles32 .ui-icon-25-36 { background-position: -1120px -768px; }
.tiles32 .ui-icon-25-37 { background-position: -1152px -768px; }
.tiles32 .ui-icon-25-38 { background-position: -1184px -768px; }
.tiles32 .ui-icon-25-39 { background-position: -1216px -768px; }
.tiles32 .ui-icon-25-40 { background-position: -1248px -768px; }


.tiles32 .ui-icon-26-1  { background-position:     0px -800px; }
.tiles32 .ui-icon-26-2  { background-position:   -32px -800px; }
.tiles32 .ui-icon-26-3  { background-position:   -64px -800px; }
.tiles32 .ui-icon-26-4  { background-position:   -96px -800px; }
.tiles32 .ui-icon-26-5  { background-position:  -128px -800px; }
.tiles32 .ui-icon-26-6  { background-position:  -160px -800px; }
.tiles32 .ui-icon-26-7  { background-position:  -192px -800px; }
.tiles32 .ui-icon-26-8  { background-position:  -224px -800px; }
.tiles32 .ui-icon-26-9  { background-position:  -256px -800px; }
.tiles32 .ui-icon-26-10 { background-position:  -288px -800px; }
.tiles32 .ui-icon-26-11 { background-position:  -320px -800px; }
.tiles32 .ui-icon-26-12 { background-position:  -352px -800px; }
.tiles32 .ui-icon-26-13 { background-position:  -384px -800px; }
.tiles32 .ui-icon-26-14 { background-position:  -416px -800px; }
.tiles32 .ui-icon-26-15 { background-position:  -448px -800px; }
.tiles32 .ui-icon-26-16 { background-position:  -480px -800px; }
.tiles32 .ui-icon-26-17 { background-position:  -512px -800px; }
.tiles32 .ui-icon-26-18 { background-position:  -544px -800px; }
.tiles32 .ui-icon-26-19 { background-position:  -576px -800px; }
.tiles32 .ui-icon-26-20 { background-position:  -608px -800px; }
.tiles32 .ui-icon-26-21 { background-position:  -640px -800px; }
.tiles32 .ui-icon-26-22 { background-position:  -672px -800px; }
.tiles32 .ui-icon-26-23 { background-position:  -704px -800px; }
.tiles32 .ui-icon-26-24 { background-position:  -736px -800px; }
.tiles32 .ui-icon-26-25 { background-position:  -768px -800px; }
.tiles32 .ui-icon-26-26 { background-position:  -800px -800px; }
.tiles32 .ui-icon-26-27 { background-position:  -832px -800px; }
.tiles32 .ui-icon-26-28 { background-position:  -864px -800px; }
.tiles32 .ui-icon-26-29 { background-position:  -896px -800px; }
.tiles32 .ui-icon-26-30 { background-position:  -928px -800px; }
.tiles32 .ui-icon-26-31 { background-position:  -960px -800px; }
.tiles32 .ui-icon-26-32 { background-position:  -992px -800px; }
.tiles32 .ui-icon-26-33 { background-position: -1024px -800px; }
.tiles32 .ui-icon-26-34 { background-position: -1056px -800px; }
.tiles32 .ui-icon-26-35 { background-position: -1088px -800px; }
.tiles32 .ui-icon-26-36 { background-position: -1120px -800px; }
.tiles32 .ui-icon-26-37 { background-position: -1152px -800px; }
.tiles32 .ui-icon-26-38 { background-position: -1184px -800px; }
.tiles32 .ui-icon-26-39 { background-position: -1216px -800px; }
.tiles32 .ui-icon-26-40 { background-position: -1248px -800px; }


.tiles32 .ui-icon-27-1  { background-position:     0px -832px; }
.tiles32 .ui-icon-27-2  { background-position:   -32px -832px; }
.tiles32 .ui-icon-27-3  { background-position:   -64px -832px; }
.tiles32 .ui-icon-27-4  { background-position:   -96px -832px; }
.tiles32 .ui-icon-27-5  { background-position:  -128px -832px; }
.tiles32 .ui-icon-27-6  { background-position:  -160px -832px; }
.tiles32 .ui-icon-27-7  { background-position:  -192px -832px; }
.tiles32 .ui-icon-27-8  { background-position:  -224px -832px; }
.tiles32 .ui-icon-27-9  { background-position:  -256px -832px; }
.tiles32 .ui-icon-27-10 { background-position:  -288px -832px; }
.tiles32 .ui-icon-27-11 { background-position:  -320px -832px; }
.tiles32 .ui-icon-27-12 { background-position:  -352px -832px; }
.tiles32 .ui-icon-27-13 { background-position:  -384px -832px; }
.tiles32 .ui-icon-27-14 { background-position:  -416px -832px; }
.tiles32 .ui-icon-27-15 { background-position:  -448px -832px; }
.tiles32 .ui-icon-27-16 { background-position:  -480px -832px; }
.tiles32 .ui-icon-27-17 { background-position:  -512px -832px; }
.tiles32 .ui-icon-27-18 { background-position:  -544px -832px; }
.tiles32 .ui-icon-27-19 { background-position:  -576px -832px; }
.tiles32 .ui-icon-27-20 { background-position:  -608px -832px; }
.tiles32 .ui-icon-27-21 { background-position:  -640px -832px; }
.tiles32 .ui-icon-27-22 { background-position:  -672px -832px; }
.tiles32 .ui-icon-27-23 { background-position:  -704px -832px; }
.tiles32 .ui-icon-27-24 { background-position:  -736px -832px; }
.tiles32 .ui-icon-27-25 { background-position:  -768px -832px; }
.tiles32 .ui-icon-27-26 { background-position:  -800px -832px; }
.tiles32 .ui-icon-27-27 { background-position:  -832px -832px; }
.tiles32 .ui-icon-27-28 { background-position:  -864px -832px; }
.tiles32 .ui-icon-27-29 { background-position:  -896px -832px; }
.tiles32 .ui-icon-27-30 { background-position:  -928px -832px; }
.tiles32 .ui-icon-27-31 { background-position:  -960px -832px; }
.tiles32 .ui-icon-27-32 { background-position:  -992px -832px; }
.tiles32 .ui-icon-27-33 { background-position: -1024px -832px; }
.tiles32 .ui-icon-27-34 { background-position: -1056px -832px; }
.tiles32 .ui-icon-27-35 { background-position: -1088px -832px; }
.tiles32 .ui-icon-27-36 { background-position: -1120px -832px; }
.tiles32 .ui-icon-27-37 { background-position: -1152px -832px; }
.tiles32 .ui-icon-27-38 { background-position: -1184px -832px; }
.tiles32 .ui-icon-27-39 { background-position: -1216px -832px; }
.tiles32 .ui-icon-27-40 { background-position: -1248px -832px; }


.tiles32 .ui-icon-28-1  { background-position:     0px -864px; }
.tiles32 .ui-icon-28-2  { background-position:   -32px -864px; }
.tiles32 .ui-icon-28-3  { background-position:   -64px -864px; }
.tiles32 .ui-icon-28-4  { background-position:   -96px -864px; }
.tiles32 .ui-icon-28-5  { background-position:  -128px -864px; }
.tiles32 .ui-icon-28-6  { background-position:  -160px -864px; }
.tiles32 .ui-icon-28-7  { background-position:  -192px -864px; }
.tiles32 .ui-icon-28-8  { background-position:  -224px -864px; }
.tiles32 .ui-icon-28-9  { background-position:  -256px -864px; }
.tiles32 .ui-icon-28-10 { background-position:  -288px -864px; }
.tiles32 .ui-icon-28-11 { background-position:  -320px -864px; }
.tiles32 .ui-icon-28-12 { background-position:  -352px -864px; }
.tiles32 .ui-icon-28-13 { background-position:  -384px -864px; }
.tiles32 .ui-icon-28-14 { background-position:  -416px -864px; }
.tiles32 .ui-icon-28-15 { background-position:  -448px -864px; }
.tiles32 .ui-icon-28-16 { background-position:  -480px -864px; }
.tiles32 .ui-icon-28-17 { background-position:  -512px -864px; }
.tiles32 .ui-icon-28-18 { background-position:  -544px -864px; }
.tiles32 .ui-icon-28-19 { background-position:  -576px -864px; }
.tiles32 .ui-icon-28-20 { background-position:  -608px -864px; }
.tiles32 .ui-icon-28-21 { background-position:  -640px -864px; }
.tiles32 .ui-icon-28-22 { background-position:  -672px -864px; }
.tiles32 .ui-icon-28-23 { background-position:  -704px -864px; }
.tiles32 .ui-icon-28-24 { background-position:  -736px -864px; }
.tiles32 .ui-icon-28-25 { background-position:  -768px -864px; }
.tiles32 .ui-icon-28-26 { background-position:  -800px -864px; }
.tiles32 .ui-icon-28-27 { background-position:  -832px -864px; }
.tiles32 .ui-icon-28-28 { background-position:  -864px -864px; }
.tiles32 .ui-icon-28-29 { background-position:  -896px -864px; }
.tiles32 .ui-icon-28-30 { background-position:  -928px -864px; }
.tiles32 .ui-icon-28-31 { background-position:  -960px -864px; }
.tiles32 .ui-icon-28-32 { background-position:  -992px -864px; }
.tiles32 .ui-icon-28-33 { background-position: -1024px -864px; }
.tiles32 .ui-icon-28-34 { background-position: -1056px -864px; }
.tiles32 .ui-icon-28-35 { background-position: -1088px -864px; }
.tiles32 .ui-icon-28-36 { background-position: -1120px -864px; }
.tiles32 .ui-icon-28-37 { background-position: -1152px -864px; }
.tiles32 .ui-icon-28-38 { background-position: -1184px -864px; }
.tiles32 .ui-icon-28-39 { background-position: -1216px -864px; }
.tiles32 .ui-icon-28-40 { background-position: -1248px -864px; }


.tiles32 .ui-icon-29-1  { background-position:     0px -896px; }
.tiles32 .ui-icon-29-2  { background-position:   -32px -896px; }
.tiles32 .ui-icon-29-3  { background-position:   -64px -896px; }
.tiles32 .ui-icon-29-4  { background-position:   -96px -896px; }
.tiles32 .ui-icon-29-5  { background-position:  -128px -896px; }
.tiles32 .ui-icon-29-6  { background-position:  -160px -896px; }
.tiles32 .ui-icon-29-7  { background-position:  -192px -896px; }
.tiles32 .ui-icon-29-8  { background-position:  -224px -896px; }
.tiles32 .ui-icon-29-9  { background-position:  -256px -896px; }
.tiles32 .ui-icon-29-10 { background-position:  -288px -896px; }
.tiles32 .ui-icon-29-11 { background-position:  -320px -896px; }
.tiles32 .ui-icon-29-12 { background-position:  -352px -896px; }
.tiles32 .ui-icon-29-13 { background-position:  -384px -896px; }
.tiles32 .ui-icon-29-14 { background-position:  -416px -896px; }
.tiles32 .ui-icon-29-15 { background-position:  -448px -896px; }
.tiles32 .ui-icon-29-16 { background-position:  -480px -896px; }
.tiles32 .ui-icon-29-17 { background-position:  -512px -896px; }
.tiles32 .ui-icon-29-18 { background-position:  -544px -896px; }
.tiles32 .ui-icon-29-19 { background-position:  -576px -896px; }
.tiles32 .ui-icon-29-20 { background-position:  -608px -896px; }
.tiles32 .ui-icon-29-21 { background-position:  -640px -896px; }
.tiles32 .ui-icon-29-22 { background-position:  -672px -896px; }
.tiles32 .ui-icon-29-23 { background-position:  -704px -896px; }
.tiles32 .ui-icon-29-24 { background-position:  -736px -896px; }
.tiles32 .ui-icon-29-25 { background-position:  -768px -896px; }
.tiles32 .ui-icon-29-26 { background-position:  -800px -896px; }
.tiles32 .ui-icon-29-27 { background-position:  -832px -896px; }
.tiles32 .ui-icon-29-28 { background-position:  -864px -896px; }
.tiles32 .ui-icon-29-29 { background-position:  -896px -896px; }
.tiles32 .ui-icon-29-30 { background-position:  -928px -896px; }
.tiles32 .ui-icon-29-31 { background-position:  -960px -896px; }
.tiles32 .ui-icon-29-32 { background-position:  -992px -896px; }
.tiles32 .ui-icon-29-33 { background-position: -1024px -896px; }
.tiles32 .ui-icon-29-34 { background-position: -1056px -896px; }
.tiles32 .ui-icon-29-35 { background-position: -1088px -896px; }
.tiles32 .ui-icon-29-36 { background-position: -1120px -896px; }
.tiles32 .ui-icon-29-37 { background-position: -1152px -896px; }
.tiles32 .ui-icon-29-38 { background-position: -1184px -896px; }
.tiles32 .ui-icon-29-39 { background-position: -1216px -896px; }
.tiles32 .ui-icon-29-40 { background-position: -1248px -896px; }

.tiles32 .ui-icon-30-1  { background-position:     0px -928px; }
.tiles32 .ui-icon-30-2  { background-position:   -32px -928px; }
.tiles32 .ui-icon-30-3  { background-position:   -64px -928px; }
.tiles32 .ui-icon-30-4  { background-position:   -96px -928px; }
.tiles32 .ui-icon-30-5  { background-position:  -128px -928px; }
.tiles32 .ui-icon-30-6  { background-position:  -160px -928px; }
.tiles32 .ui-icon-30-7  { background-position:  -192px -928px; }
.tiles32 .ui-icon-30-8  { background-position:  -224px -928px; }
.tiles32 .ui-icon-30-9  { background-position:  -256px -928px; }
.tiles32 .ui-icon-30-10 { background-position:  -288px -928px; }
.tiles32 .ui-icon-30-11 { background-position:  -320px -928px; }
.tiles32 .ui-icon-30-12 { background-position:  -352px -928px; }
.tiles32 .ui-icon-30-13 { background-position:  -384px -928px; }
.tiles32 .ui-icon-30-14 { background-position:  -416px -928px; }
.tiles32 .ui-icon-30-15 { background-position:  -448px -928px; }
.tiles32 .ui-icon-30-16 { background-position:  -480px -928px; }
.tiles32 .ui-icon-30-17 { background-position:  -512px -928px; }
.tiles32 .ui-icon-30-18 { background-position:  -544px -928px; }
.tiles32 .ui-icon-30-19 { background-position:  -576px -928px; }
.tiles32 .ui-icon-30-20 { background-position:  -608px -928px; }
.tiles32 .ui-icon-30-21 { background-position:  -640px -928px; }
.tiles32 .ui-icon-30-22 { background-position:  -672px -928px; }
.tiles32 .ui-icon-30-23 { background-position:  -704px -928px; }
.tiles32 .ui-icon-30-24 { background-position:  -736px -928px; }
.tiles32 .ui-icon-30-25 { background-position:  -768px -928px; }
.tiles32 .ui-icon-30-26 { background-position:  -800px -928px; }
.tiles32 .ui-icon-30-27 { background-position:  -832px -928px; }
.tiles32 .ui-icon-30-28 { background-position:  -864px -928px; }
.tiles32 .ui-icon-30-29 { background-position:  -896px -928px; }
.tiles32 .ui-icon-30-30 { background-position:  -928px -928px; }
.tiles32 .ui-icon-30-31 { background-position:  -960px -928px; }
.tiles32 .ui-icon-30-32 { background-position:  -992px -928px; }
.tiles32 .ui-icon-30-33 { background-position: -1024px -928px; }
.tiles32 .ui-icon-30-34 { background-position: -1056px -928px; }
.tiles32 .ui-icon-30-35 { background-position: -1088px -928px; }
.tiles32 .ui-icon-30-36 { background-position: -1120px -928px; }
.tiles32 .ui-icon-30-37 { background-position: -1152px -928px; }
.tiles32 .ui-icon-30-38 { background-position: -1184px -928px; }
.tiles32 .ui-icon-30-39 { background-position: -1216px -928px; }
.tiles32 .ui-icon-30-40 { background-position: -1248px -928px; }

