<div id="controls" class="jqui ui-accordion ui-widget" >
    <!-- Basic game controls -->
    <h3>Navigation</h3>
    <div>
        <img src="images/Compass_rose_pale.svg" id="compass" usemap="#movements" >
        <map name="movements">
            <area
                shape="circle"
                coords="120,120,45"
                href="javascript:void(0);"
                alt="Center"
                title="Center"
                id="center"
            />
            <area
                shape="poly"
                coords="78,16,162,16,142,68,98,68"
                href="javascript:void(0);"
                alt="North"
                title="North"
                id="north"
            />
            <area
                shape="poly"
                coords="162,16,224,78,172,98,142,68"
                href="javascript:void(0);"
                alt="Northeast"
                title="Northeast"
                id="northeast"
            />
            <area
                shape="poly"
                coords="224,78,224,162,172,142,172,98"
                href="javascript:void(0);"
                alt="East"
                title="East"
                id="east"
            />
            <area
                shape="poly"
                coords="224,162,162,224,142,172,172,142"
                href="javascript:void(0);"
                alt="Southeast"
                title="Southeast"
                id="southeast"
            />
            <area
                shape="poly"
                coords="162,224,78,224,98,172,142,172"
                href="javascript:void(0);"
                alt="South"
                title="South"
                id="south"
            />
            <area
                shape="poly"
                coords="78,224,16,162,68,142,98,172"
                href="javascript:void(0);"
                alt="Southwest"
                title="Southwest"
                id="southwest"
            />
            <area
                shape="poly"
                coords="16,78,68,98,68,142,16,162"
                href="javascript:void(0);"
                alt="West"
                title="West"
                id="west"
            />
            <area
                shape="poly"
                coords="78,16,98,68,68,98,16,78"
                href="javascript:void(0);"
                alt="Northwest"
                title="Northwest"
                id="northwest"
            />
        </map>
    </div>
    <h3>Commands</h3>
    <div></div>
    <h3>Theme</h3>
    <div></div>
</div>

